<div class="col-md-12">
    <table id="tableData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-2">Name</th>
                <th class="col-md-2">Surname</th>
                <th class="col-md-3">Email</th>
                <th class="col-md-2">Street</th>
                <th class="col-md-2">City</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
